#map{
    height: 93vh;
}

html{
    box-sizing: border-box;
    font-size: 100%;
}

body{
    margin: 0;
    padding: 0;
}
#walkControls{
    background-color: rgba(192, 214, 243, 0.936); /* Semi-transparent white background */
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
.map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
}
.map-control-button:hover {
    background: rgb(235, 235, 235);
}
label{
    height: 2px;
    font: 400 18px Roboto;
}
input{
    height: 30px;
    font: 400 18px Roboto;
}
#id{
    color: black;
}
.card{
    background-color:rgba(192, 214, 243, 0.936);
    color: black;

}
.card:hover{
    background:blue;
}
.btn{
    color: black;
    background-color: white;
    width: 100%;
}
.btn:hover{
    color:white;
}