{% extends 'base.html' %}
{% block head%}
  <link rel="stylesheet" href="/static/css/login.css">
{% endblock %}
{% block body %}

    <div class="create">

    </ul> 
    <h2>Create an Account</h2>

    <form action="/users" method="POST">
      <p>
        Username <input type="text" name="username">
      </p>
      <p>
        Email <input type="text" name="email">
      </p>
  
      <p>
        Password <input type="password" name="password">
      </p>
  
      <p>
        <input type="submit">
      </p>
    </form>
    </div>
    <div class="create">
  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
  </div>
{% endblock %}