{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

  <section class="map">
    <div id="map"></div>
  </section>
  <div id="walkControls">
    <label for="userLocation">Where would you like to start your walk?</label><br>
    <input type="text" name="userLocation" id="userLocation">
    <button type="submit" class="map-control-button"id="locBtn">submit</button><br>

    <label for="distance">How far would you like to walk?(kilometers)</label><br>
    <input type="text" name="distance" id="distance">
    <button type="submit" id="submitBtn" class="map-control-button">submit</button><br>

    {% if session.get('user') %}
      <button type="submit" id="walkSaveBtn" class="map-control-button">Save This Walk</button><br>
    {% endif %}
  </div>


  <script src="/static/js/mapsWalk.js"></script>
  <script
    async
    src="https://maps.googleapis.com/maps/api/js?key={{ mapkey }}&callback=initMap">
  </script>
  
{% endblock %}
