{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
  <nav>
    <section id="links-right">
      <a href="/">home</a>
      <a href="/login">login</a>
      {% if session.get('user') %}
      <a href="/logout">logout</a>
      <a href="/savedwalks">View saved walks</a>
      {% endif %}
    </section>
  </nav>
<!-- 
  <label for="distance">How far would you like to walk?(in kilometers)</label>
  <input type="text" name="distance" id="distance">
  <button type="submit" id="submitBtn">submit</button> -->

  <section class="map">
    <div id="map"></div>
  </section>

  
  <label for="distance">How far would you like to walk?(in kilometers)</label>
  <input type="text" name="distance" id="distance">
  <button type="submit" id="submitBtn">submit</button><br>

  <label for="userLocation">Where would you like to start your walk?</label>
  <input type="text" name="userLocation" id="userLocation">
  <button type="submit" id="locBtn">submit</button><br>

  {% if session.get('user') %}
  <button type="submit" id="saveBtn">Save This Walk</button><br>
  {% endif %}


  <script src="/static/js/mapsWalk.js"></script>
  <script
    async
    src="https://maps.googleapis.com/maps/api/js?key={{ mapkey }}&callback=initMap">
  </script>
  
{% endblock %}
