{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
  <nav>
    <section id="links-right">
      <a href="/">home</a>
    </section>
  </nav>
<!-- 
  <label for="distance">How far would you like to walk?(in kilometers)</label>
  <input type="text" name="distance" id="distance">
  <button type="submit" id="submitBtn">submit</button> -->

  <section class="map">
    <div id="map"></div>
  </section>

  
  <label for="distance">How far would you like to walk?(in kilometers)</label>
  <input type="text" name="distance" id="distance">
  <button type="submit" id="submitBtn">submit</button>
  <!-- <script>
    document.getElementById('submitBtn').addEventListener('click', () => {
    let DISTANCE = parseFloat(document.querySelector('#distance').value);
    console.log(DISTANCE, typeof(DISTANCE));
  });
  
  
  </script> -->

  <script src="/static/js/mapsWalk.js"></script>
  <script
    async
    src="https://maps.googleapis.com/maps/api/js?key={{ mapkey }}&callback=initMap">
  </script>
  
{% endblock %}
